{% extends 'base.html.twig' %}

{% block title %}Gestionnaire add
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit" class="btn btn-success mb-2">Ajouter un manager</button>
    {{ form_end(form) }}
{% endblock %}
